

* {
    margin: 0;
}

.dash_header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dash_logo {
    margin:  0 5%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    color: var(--sky-blue);
    align-self: center;
}

.dash_header__right_container {
    display: flex;
}

.dash_search {
    width: 50%;
    display: flex;
}

.dash_search input:focus {
    outline: none;
    border-bottom: 1px black solid;
}

.dash_search input {
    border: none;
    padding-left: 10px;
    width: 100%;
}

.dash_search__svg {
    padding-top: 4px;
    align-self: center;
}

.dash_profile {
    display: flex;
}

.dash_profile__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dash_profile__text_status {
    color: var(--green);
}
.dash_profile__img {
    height: 32px;
    padding-right: 8px;
}

.dash_bell,.dash_arrow {
    margin: auto 8px;
    padding: 0 4px
}


